/* Colors
Background: #E2F4FD
Tree-Blue: #66A4D9
Soft-Blue: #AEE1F7
Gold: #F5C64A

/* Fonts */
/*@font-face {
	font-family: "Montserrat-Bold";
	src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-Regular.ttf');
}*/

/* Main Styling */

body {
	font-family: "Montserrat", Arial, sans-serif;
	background-color: #E2F4FD;
}

/* Header Background */

.header {
	position: fixed;
	height: 500px;
	width: 100%;
	top: 0;
	z-index: -3;
}

.pattern-outline {
	background: url(../images/header-outline.svg) no-repeat center bottom;
	background-size: cover;
}

.header>.pattern-outline {
	z-index: -3;
}

.pattern-solid {
	background: url(../images/header-solid.svg) no-repeat center bottom;
	background-size: cover;
}

.header>.pattern-solid {
	z-index: -4;
}

/* Banners */

.banners {
	position: fixed;
	top: 0;
	font-family: "Montserrat", Arial, sans-serif;	
	text-align: center;
	color: #66A4D9;	
	vertical-align: center;	
	width: 100%;
}

.main-banner {
	background: url(../images/main-banner.svg) no-repeat center;
	background-size: cover;
	width: 550px;
	height: 290px;
	overflow: auto;
	margin: 0 auto;
}

.main-banner>h1 {
	font-family: "Montserrat-Bold", Arial, sans-serif;	
	margin-top: 90px;
	font-size: 2.1em;
}

.main-banner>h2 {
	margin-top: 5px;
	font-size: 2.0em;
}

.sub-banner {
	overflow: auto;
	background: url(../images/sub-banner.svg) no-repeat center;
	background-size: cover;
	width: 400px;
	height: 120px;
	margin: 0 auto;
	margin-top: -110px;
}

/* Current Link Tip */

.current-tip {
	position: absolute;
	top: 0;
	width: 100%;
	margin-top: 283px;
}

.current-tip>a {
	text-align: center;
	display: block;
	width: 30%;
	text-decoration: none;
	color: #66A4D9;
	margin: 0 auto;
}

.down-arrow {
	border: 10px solid transparent;
	border-top-color: #66A4D9;
	width: 0;
	margin: 0 auto;
	margin-top: 10px;
}

/* Main Tree */
#main-tree {
	position: absolute;
	background: url(../images/main-tree.svg) no-repeat center;
	background-size: cover;
	top: 330px;
	height: 1700px;
	width: 806px;
	left: 50%;
	transform: translateX(-50%);
}

.day {
	position: absolute;
	height: 88px;
	width: 88px;
	border-radius: 50px;
}

.day-tile {
	display: none;
}

.day-tile.active {
	display: block;
}

.day>.past {
	border: 8px solid #AEE1F7;
	height: 72px;
	width: 72px;	
	border-radius: 50px;
	opacity: .6;
}

.present {
	position: absolute;
	top: 0;
	left: 0;
	border: 8px solid #F5C64A;
	background-color: #F5C64A;
	height: 72px;
	width: 300px;
	border-top-left-radius: 50px;	
	border-bottom-left-radius: 50px;
	font-family: "Montserrat", Arial, sans-serif;
	opacity: 1;
	z-index: 2;
}

.day .present.active {
	opacity: 0;
	transition: all .3s;
}

.day:hover .present.active {
	opacity: 1;
}

.present>.headshot {
	position: absolute;
	top: -8px;
	left: -8px;
	border: 8px solid #F5C64A;
	height: 72px;
	width: 72px;	
	border-radius: 50px;
}

.day-tile.past.headshot {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.filter-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #66A4D9;
	z-index: 2;
	opacity: .4;
	height: 87px;
	width: 87px;
	border-radius: 50px;
}

.present>.title {
	width: 170px;
	margin-left: 90px;
	padding: 7px 0;
	color: #fff;
	font-size: 1.1em;
}

.present>.sub-header {
	width: 170px;
	margin-left: 90px;
	margin-top: 4px;
}

.present>span {
	border-bottom: 1px solid #fff;
	width: 70px;
	display: block;
	position: absolute;
	top: 35px;
	right: 0;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);	
	transform: rotate(90deg);	
}

.present>a {
	position: absolute;
	right: -20px;
	top: 20px;
	display: block;
	text-decoration: none;
	width: 80px;
	font-size: 10pt;
	padding-bottom: 20px;
	color: #fff;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);	
}

.december {
	display: block;
	color: #66A4D9;
	letter-spacing: -2px;
	text-align: center;
	margin-top: 7px;
	font-size: 10pt;
}

.date {
	display: block;
	font-family: "Montserrat-Bold", Arial, sans-serif;
	font-size: 26pt;
	text-align: center;
	margin-top: 8px;
	color: #66A4D9;
}

.tab-shadow {
	position: absolute;
	background: url(../images/tab-shadow.svg) no-repeat center center;
	background-size: cover;
	height: 115px;
	width: 260px;
	top: 0;
	left: 70px;
}

.day>.tab-shadow {
	display: none;
}

.day.active>.tab-shadow {
	display: block;
}

.day.active>.tab-shadow {
	transition: all .2s;
	opacity: 0;
}

.day.active:hover>.tab-shadow {
	transition: all .6s;
	opacity: 1;
}

/* Day Cards */


#day-1 {
	top: 208px;
	left: 358px;
}

#day-1 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-2 {
	top: 371px;
	left: 358px;
}

#day-2 .headshot {
	background: url(../images/headshots/day-2.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-3 {
	top: 654px;
	left: 423px;
}

#day-3 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-4 {
	top: 715px;
	left: 295px;
}

#day-4 .headshot {
	background: url(../images/headshots/day-2.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-5 {
	top: 774px;
	left: 411px;
}

#day-5 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-6 {
	top: 901px;
	left: 358px;
}

#day-6 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-7 {
	top: 1015px;
	left: 423px;
}

#day-7 .headshot {
	background: url(../images/headshots/day-2.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-8 {
	top: 1123px;
	left: 298px;
}

#day-8 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-9 {
	top: 1188px;
	left: 424px;
}

#day-9 .headshot {
	background: url(../images/headshots/day-2.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-10 {
	top: 1303px;
	left: 358px;
}

#day-10 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

/* Sidebar */

.sidebar {
	position: absolute;
	right: 10%;
	top: 320px;
}

.sidebar.fixed {
	position: fixed;
}

.sidebar>li {
	margin: 0 auto;
	margin-top: 14px;	
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 20px;
	vertical-align: middle;
}

.sidebar>li.active {
	border: 4px solid #66A4D9;
	height: 13px;
	width: 13px;
}

.sidebar>li.today {
	background-color: #F5C64A;
	height: 22px;
	width: 22px;
}

/* Background Trees */

.background-tree {
	z-index: -1;
	height: 1000px;
	width: 500px;
	bottom: 0;
	position: absolute;
}

.background-tree.dark {
	background: url(../images/background-tree-dark.svg) no-repeat center top;
	background-size: cover;
	bottom: -1080px;
}

.background-tree.light {
	background: url(../images/background-tree-light.svg) no-repeat center top;
	background-size: cover;
	z-index: -2;
	bottom: -1150px;
}

#tree-1 {
	left: 0;
	background-position: right top;
	width: 400px;
}

#tree-2 {
	left: 5%;
}

#tree-3 {
	left: 13%;
}

#tree-4 {
	right: 10%;
}

#tree-5 {
	right: 0;
	background-position: left top;
	width: 400px;
}

/* Footer */

.fixed-footer {
	position: fixed;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: #E2F4FD;
	box-shadow: 0 0 6px 8px rgba(0, 0, 0, .4);
	z-index: 10;
}

.fixed-footer.pattern-solid {
	z-index: 11;
	background-position: center;
}

.fixed-footer>.pattern-outline {
	background-position: center;
	height: 70px;
	width: 100%;
}

.pattern-outline {
	overflow: auto;
}

.pattern-outline>a {
	background: url(../images/rocket-footer.svg) no-repeat center center;
	background-size: cover;
	height: 30px;
	width: 300px;
	display: block;
	margin: 15px auto;
}