/* Colors
Background: #E2F4FD
Tree: #66A4D9
Soft-Blue: #AEE1F7
Gold: #F5C64A

/* Tree Ratio
heigth: 500, width: 235

*/

/* Fonts */
@font-face {
	font-family: "Montserrat-Bold";
	src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-Regular.ttf');
}

/* Main Styling */

body {
	font-family: "Montserrat", Arial, sans-serif;
	background-color: #E2F4FD;
}

/* Header Background */

.header {
	position: fixed;
	height: 500px;
	width: 100%;
	top: 0;
	z-index: -3;
}

.pattern-outline {
	background: url(../images/header-outline.svg) no-repeat center bottom;
	background-size: cover;
}

.header>.pattern-outline {
	z-index: -3;
}

.pattern-solid {
	background: url(../images/header-solid.svg) no-repeat center bottom;
	background-size: cover;
}

.header>.pattern-solid {
	z-index: -4;
}

/* Banners */

.banners {
	position: fixed;
	top: 0;
	margin-top: 70px;
	font-family: "Montserrat", Arial, sans-serif;	
	text-align: center;
	color: #66A4D9;	
	vertical-align: center;	
	width: 100%;
}

.main-banner {
	background: url(../images/main-banner.svg) no-repeat center;
	background-size: cover;
	width: 380px;
	height: 200px;
	overflow: auto;
	margin: 0 auto;
}

.main-banner>h1 {
	font-family: "Montserrat-Bold", Arial, sans-serif;	
	margin-top: 63px;
	font-size: 1.5em;
}

.main-banner>h2 {
	margin-top: 5px;
	font-size: 1.4em;
}

.sub-banner {
	overflow: auto;
	background: url(../images/sub-banner.svg) no-repeat center;
	background-size: cover;
	width: 300px;
	height: 80px;
	margin: 0 auto;
	margin-top: -70px;
}

.sub-banner>h3 {
	font-size: .8em;
}

.sub-banner>h3:first-of-type {
	margin-top: 10px;
}

/* Current Link Tip */

.current-tip {
	position: absolute;
	top: 0;
	width: 100%;
	margin-top: 270px;
}

.current-tip>a {
	text-align: center;
	display: block;
	width: 30%;
	text-decoration: none;
	color: #66A4D9;
	margin: 0 auto;
}

.down-arrow {
	border: 10px solid transparent;
	border-top-color: #66A4D9;
	width: 0;
	margin: 0 auto;
	margin-top: 10px;
}

/* Main Tree */

#main-tree {
	position: relative;
	margin: 0 auto;
	margin-top: 315px;
	background: url(../images/main-tree.svg) no-repeat center;
	background-size: cover;
	height: 1700px;
	width: 806px;
}

.day {
	position: absolute;
	height: 88px;
	width: 88px;
	border-radius: 50px;
}

.day-tile {
	display: none;
}

.day-tile.active {
	display: block;
}

.day>.past {
	border: 8px solid #AEE1F7;
	height: 72px;
	width: 72px;	
	border-radius: 50px;
	opacity: .6;
}

.present {
	position: absolute;
	top: 0;
	left: 0;
	border: 8px solid #F5C64A;
	background-color: #F5C64A;
	height: 72px;
	width: 300px;
	border-top-left-radius: 50px;	
	border-bottom-left-radius: 50px;
	font-family: "Montserrat", Arial, sans-serif;
	opacity: 1;
	z-index: 2;
}

.present>.headshot {
	position: absolute;
	top: -8px;
	left: -8px;
	border: 8px solid #F5C64A;
	height: 72px;
	width: 72px;	
	border-radius: 50px;
}

.present>.title {
	width: 170px;
	margin-left: 90px;
	padding: 7px 0;
	color: #fff;
	font-size: 1.1em;
}

.present>.sub-header {
	width: 170px;
	margin-left: 90px;
	margin-top: 4px;
}

.present>span {
	transform: rotate(90deg);
	border-bottom: 1px solid #fff;
	width: 70px;
	display: block;
	position: absolute;
	top: 35px;
	right: 0;
}

.present>a {
	position: absolute;
	right: -20px;
	top: 20px;
	display: block;
	text-decoration: none;
	width: 80px;
	font-size: 10pt;
	padding-bottom: 20px;
	color: #fff;
	transform: rotate(90deg);	
}

.december {
	display: block;
	color: #66A4D9;
	letter-spacing: -2px;
	text-align: center;
	margin-top: 7px;
	font-size: 10pt;
}

.date {
	display: block;
	font-family: "Montserrat-Bold", Arial, sans-serif;
	font-size: 32pt;
	text-align: center;
	margin-top: 7px;
	color: #66A4D9;
}

/* Day Cards */

#day-1 {
	top: 208px;
	left: 358px;
}

#day-1 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-2 {
	top: 372px;
	left: 358px;
}

#day-2 .headshot {
	background: url(../images/headshots/day-2.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-3 {
	top: 654px;
	left: 423px;
}

#day-3 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-4 {
	top: 715px;
	left: 295px;
}

#day-4 .headshot {
	background: url(../images/headshots/day-2.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-5 {
	top: 774px;
	left: 411px;
}

#day-5 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-6 {
	top: 901px;
	left: 358px;
}

#day-6 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-7 {
	top: 1015px;
	left: 423px;
}

#day-7 .headshot {
	background: url(../images/headshots/day-2.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-8 {
	top: 1123px;
	left: 298px;
}

#day-8 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-9 {
	top: 1188px;
	left: 424px;
}

#day-9 .headshot {
	background: url(../images/headshots/day-2.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-10 {
	top: 1303px;
	left: 358px;
}

#day-10 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-11 {
	top: 774px;
	left: 411px;
}

#day-11 .headshot {
	background: url(../images/headshots/day-2.jpg) no-repeat center center;
	background-size: 80px 73px;
}

#day-12 {
	top: 774px;
	left: 411px;
}

#day-12 .headshot {
	background: url(../images/headshots/day-1.jpg) no-repeat center center;
	background-size: 80px 73px;
}



/* Sidebar */

.sidebar>ul {
	position: fixed;
	right: 10%;
	top: 30%;
}

.sidebar>ul>li {
	margin: 0 auto;
	margin-top: 10px;	
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 20px;
}

.sidebar>ul>li.active {
	height: 13px;
	width: 13px;
	border: 4px solid #66A4D9;
}

.sidebar>ul>li.today {
	background-color: #F5C64A;
	height: 22px;
	width: 22px;
}

/* Background Trees */

.background-tree {
	z-index: -1;
	position: fixed;
	background: url(../images/background-tree.svg) no-repeat center;
	background-size: cover;
}

.background-tree.tall {
	height: 800px;
	width: 375px;
	bottom: -300px;
}

.background-tree.short {
	height: 600px;
	width: 280px;
	bottom: -200px;	
}

.background-tree.tiny {
	height: 1500px;
	width: 650px;
	bottom: -1500px;
}

#tree-2 {
	left: 13%;
}

#tree-6 {
	left: 3%;
}

#tree-3 {
	left: 27%;
	bottom: -150px;
}

#tree-4 {
	right: 20%;
}

#tree-5 {
	right: 8%;	
}

/* Footer */

.fixed-footer {
	position: fixed;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: #E2F4FD;
	box-shadow: 0 0 7px 5px #999999;
	z-index: 10;
}

.fixed-footer.pattern-solid {
	z-index: 11;
	background-position: center;
}

.fixed-footer>.pattern-outline {
	background-position: center;
	height: 70px;
	width: 100%;
}

.pattern-outline {
	overflow: auto;
}

.pattern-outline>a {
	background: url(../images/rocket-footer.svg) no-repeat center center;
	background-size: cover;
	height: 30px;
	width: 300px;
	display: block;
	margin: 15px auto;
}